<p-card class="ui-g-12 ui-md-6 ui-md-offset-3" [title]="title" [formGroup]="form">
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <input id="nome" type="text" pInputText formControlName="nome">
                <label for="nome">Nome</label>
                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
                    <div *ngIf="nome.errors.required">
                        Campo obrigatório.
                    </div>
                    <div *ngIf="nome.errors.minlength">
                        Mínimo 3 caracteres.
                    </div>
                </div>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6">
            <p-dropdown [options]="unidadeMedidas" formControlName="unidadeMedida"  placeholder="Selecione"></p-dropdown>
        </div>
        
    </div>
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <input id="nome" type="number" max="9999" pInputText [(ngModel)]="item.quantidade">
                <label for="nome">Quantidade</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <input id="preco" currencyMask [(ngModel)]="item.preco" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                <label for="preco">Preço</label>
            </span>
        </div>
    </div>
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <p-calendar id="validade" [(ngModel)]="item.validade" dateFormat="dd/mm/yy"  [showIcon]="true"></p-calendar>
                <label for="validade">Validade</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6">
            <span class="ui-float-label">
                <p-calendar id="fabricacao" [(ngModel)]="item.fabricacao"  dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                <label for="fabricacao">Fabricação</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6">
            <p-inputSwitch [(ngModel)]="item.perecivel"  name="Yes" offLabel="No" ></p-inputSwitch>
            <label>Perecível</label>
        </div>
    </div>

        
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
            <a href="/items/"> voltar</a>
        </div>
        <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Salvar" (click)="save()"></button>
        </div>
    </div>
      
</p-card>
